<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{170,162}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,346},{164,158}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{164,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,82},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>obj100.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,240},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>obj101.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>obj103.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{78,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>obj104.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,162},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>obj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,84},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>obj12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{170,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{168,162}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{168,162}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,174},{146,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{146,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{170,154}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{170,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,344},{166,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{166,164}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>obj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,174},{152,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,174},{158,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>obj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cell.png</string>
            <key>size</key>
            <string>{718,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72f5c87914b93837eef97faf5c62081:1/1$</string>
            <key>textureFileName</key>
            <string>cell.png</string>
        </dict>
    </dict>
</plist>
